.blck {
  background-image: linear-gradient(
    to right,
    #012706,
    #012706,
    rgb(0, 26, 10),
    #0b0116,
    #000000,
    rgb(21, 2, 51),
    #1e0152
  );
  height: 92.2vh;
  display: flex;
  background-size: 250%;
  animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.blck h3 {
  color: rgb(255, 255, 255);
  margin-top: 15px;
  font-family: 'Architects Daughter', cursive;
}

/* Dryad */
.containerB {
  margin: auto;
  width: 330px;
  padding: 10px;
  text-align: center;
}
.entryB {
  width: 265px;
  height: 50px;
  border-radius: 2em / 5em;
  padding: 10px;
  margin: 10px 2px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 35px;
  color: rgb(110, 240, 90);
}
.calc-containerB {
  width: 300px;
  background-color: #000000;
  background: linear-gradient(to right, #0c1325, #020b0f, #020b0f, #0c1325);
  border-radius: 13% 87% 9% 91% / 86% 13% 87% 14%;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: 1px solid rgb(110, 240, 90);
  box-shadow: 6px 6px 5px rgba(110, 240, 90, 0.116);
}
.numButB {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
  border: 1px solid rgb(110, 240, 90);
}
.mathButB {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
  border: 1px solid rgb(110, 240, 90);
}
.equalButB {
  height: 59px;
  width: 126px;
  margin: 10px 4px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
  border: 1px solid rgb(110, 240, 90);
}
.mButB {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
  border: 1px solid rgb(110, 240, 90);
}
.aButB {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
  border: 1px solid rgb(110, 240, 90);
}

.numButB,
.aButB,
.mButB,
.equalButB,
.mathButB {
  color: rgb(110, 240, 90);
  text-shadow: none;
}

.numButB:hover,
.aButB:hover,
.mButB:hover,
.equalButB:hover,
.mathButB:hover {
  cursor: pointer;
  color: rgb(253, 253, 253);
  text-shadow: 0 0 5px rgb(110, 240, 90), 0 0 10px rgb(110, 240, 90),
    0 0 20px rgb(110, 240, 90), 0 0 40px rgb(110, 240, 90),
    0 0 80px rgb(110, 240, 90), 0 0 90px rgb(110, 240, 90),
    0 0 100px rgb(110, 240, 90), 0 0 150px rgb(110, 240, 90);
}

/* Nymph */
.containerBX {
  margin: auto;
  width: 330px;
  padding: 10px;
  text-align: center;
}
.entryBX {
  width: 265px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 2px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 35px;
  color: rgb(173, 79, 161);
}
.calc-containerBX {
  width: 300px;
  background-image: linear-gradient(
    to bottom left,
    #a602ac,
    #7d048d,
    #680361,
    #33102e,
    #1d091a,
    #0f050e
  );
  background-size: 400%;
  animation: nm-animation 15s infinite alternate;
  border-radius: 94% 6% 91% 9% / 11% 85% 15% 89%;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: 1px solid rgb(240, 155, 228);
  box-shadow: 6px 6px 5px rgba(128, 7, 111, 0.2);
}

@keyframes nm-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.numButBX {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  border-radius: 47% 50% 50% 47% / 86% 13% 81% 5%;
  border: 1px solid rgb(173, 79, 161);
}
.mathButBX {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  border-radius: 50%;
  border: 1px solid rgb(173, 79, 161);
}
.equalButBX {
  height: 59px;
  width: 126px;
  margin: 10px 4px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 24% 69% 33% 75% / 75% 14% 64% 6%;
  border: 1px solid rgb(173, 79, 161);
}
.mButBX {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid rgb(173, 79, 161);
}
.aButBX {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid rgb(173, 79, 161);
}

.numButBX,
.aButBX,
.mButBX,
.equalButBX,
.mathButBX {
  color: rgb(173, 79, 161);
  text-shadow: none;
}

.numButBX:hover,
.aButBX:hover,
.mButBX:hover,
.equalButBX:hover,
.mathButBX:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(223, 79, 203), 0 0 10px rgb(223, 79, 203),
    0 0 20px rgb(223, 79, 203), 0 0 40px rgb(223, 79, 203),
    0 0 80px rgb(223, 79, 203), 0 0 90px rgb(223, 79, 203),
    0 0 100px rgb(223, 79, 203), 0 0 150px rgb(223, 79, 203);
  box-shadow: 0 0 5px rgb(223, 79, 203), 0 0 10px rgb(223, 79, 203),
    0 0 20px rgb(223, 79, 203), 0 0 40px rgb(223, 79, 203),
    0 0 80px rgb(223, 79, 203), 0 0 90px rgb(223, 79, 203),
    0 0 100px rgb(223, 79, 203), 0 0 150px rgb(223, 79, 203);
}

@media (max-width: 600px) {
  .blck {
    display: flex;
    flex-wrap: wrap;
    height: 1500px;
  }
}

.leftBtn {
  border-radius: 47% 50% 50% 47% / 86% 13% 81% 5%;
}

.midLeftBtn {
  border-radius: 34% 25% 31% 45% / 78% 23% 23% 8%;
}
.midRightBtn {
  border-radius: 31% 46% 31% 29% / 24% 78% 10% 23%;
}
.rightBtn {
  border-radius: 20% 59% 15% 65% / 21% 82% 7% 65%;
}
