.blck {
  background: linear-gradient(90deg, #fff 0%, transparent 100%),
    linear-gradient(0deg, #fff 0%, transparent 100%),
    linear-gradient(
      90deg,
      rgba(230, 230, 230, 0.18) 0%,
      rgba(230, 230, 230, 0.18) 54%,
      rgba(61, 61, 61, 0.18) 54%,
      rgba(61, 61, 61, 0.18) 100%
    ),
    linear-gradient(
      90deg,
      rgba(83, 83, 83, 0.18) 0%,
      rgba(83, 83, 83, 0.18) 5%,
      rgba(97, 97, 97, 0.18) 5%,
      rgba(97, 97, 97, 0.18) 100%
    ),
    linear-gradient(
      135deg,
      rgba(62, 62, 62, 0.28) 0%,
      rgba(62, 62, 62, 0.28) 45%,
      rgba(243, 243, 243, 0.28) 45%,
      rgba(243, 243, 243, 0.28) 100%
    ),
    linear-gradient(
      135deg,
      rgba(72, 72, 72, 0.18) 0%,
      rgba(72, 72, 72, 0.18) 53%,
      rgba(133, 133, 133, 0.18) 53%,
      rgba(133, 133, 133, 0.18) 100%
    ),
    linear-gradient(
      135deg,
      rgba(30, 30, 30, 0.28) 0%,
      rgba(30, 30, 30, 0.28) 48%,
      rgba(104, 104, 104, 0.28) 48%,
      rgba(104, 104, 104, 0.28) 100%
    ),
    linear-gradient(
      45deg,
      rgba(134, 134, 134, 0.24) 0%,
      rgba(134, 134, 134, 0.24) 62%,
      rgba(157, 157, 157, 0.24) 62%,
      rgba(157, 157, 157, 0.24) 100%
    ),
    linear-gradient(
      135deg,
      rgba(175, 175, 175, 0.08) 0%,
      rgba(175, 175, 175, 0.08) 65%,
      rgba(87, 87, 87, 0.08) 65%,
      rgba(87, 87, 87, 0.08) 100%
    ),
    linear-gradient(90deg, rgb(147, 147, 147), rgb(199, 199, 199));
  height: 92.2vh;
  display: flex;
}

.blck h3 {
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

.containerB {
  margin: auto;
  width: 330px;
  padding: 10px;
  text-align: center;
}
.entryB {
  width: 265px;
  height: 50px;
  border-radius: 2em / 5em;
  padding: 10px;
  margin: 10px 2px;
  background-color: #d1d1d100;
  border: 1px solid white;
  font-size: 35px;
  color: #ffffff;
}
.calc-containerB {
  width: 300px;
  background-image: linear-gradient(
    to top,
    #a94bca,
    #c03fb8,
    #d136a5,
    #e43294,
    #f23482,
    #fb3e70,
    #ff545b,
    #ff6d45,
    #ff882e,
    #ffa212
  );
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: 1px solid #ffa212;
  box-shadow: 6px 6px 5px #a84bca3f;
}
.numButB {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  border-radius: 2em / 5em;
  border: 1px solid white;
}
.mathButB {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  border-radius: 2em / 5em;
  border: 1px solid white;
}
.equalButB {
  height: 59px;
  width: 126px;
  margin: 10px 4px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 2em / 5em;
  border: 1px solid white;
}
.mButB {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  border-radius: 2em / 5em;
  border: 1px solid white;
}
.aButB {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  border-radius: 2em / 5em;
  border: 1px solid white;
}

.numButB,
.aButB,
.mButB,
.equalButB,
.mathButB {
  color: rgb(255, 255, 255);
  text-shadow: none;
}

.numButB:hover,
.aButB:hover,
.mButB:hover,
.equalButB:hover,
.mathButB:hover {
  cursor: pointer;
  color: rgb(253, 253, 253);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
    0 0 40px rgb(255, 255, 255), 0 0 80px rgb(255, 255, 255),
    0 0 90px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255),
    0 0 150px rgb(255, 255, 255);
}

.btn {
  background-color: #d1d1d100;
}

/* Dark */
.containerBX {
  margin: auto;
  width: 330px;
  padding: 10px;
  text-align: center;
}
.entryBX {
  width: 265px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 2px;
  background-color: #d1d1d100;
  border: 1px solid white;
  font-size: 35px;
  color: #ffffff;
}
.calc-containerBX {
  width: 300px;
  background-image: linear-gradient(to top left, #08aeea 0%, #2af598 100%);
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 6px 6px 5px #08aeea42;
}
.numButBX {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  border-radius: 50%;
  border: 1px solid white;
}
.mathButBX {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  border-radius: 50%;
  border: 1px solid white;
}
.equalButBX {
  height: 59px;
  width: 126px;
  margin: 10px 4px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 45%;
  border: 1px solid white;
}
.mButBX {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid white;
}
.aButBX {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid white;
}

.numButBX,
.aButBX,
.mButBX,
.equalButBX,
.mathButBX {
  color: rgb(255, 255, 255);
  text-shadow: none;
}

.numButBX:hover,
.aButBX:hover,
.mButBX:hover,
.equalButBX:hover,
.mathButBX:hover {
  cursor: pointer;
  color: rgb(253, 253, 253);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
    0 0 40px rgb(255, 255, 255), 0 0 80px rgb(255, 255, 255),
    0 0 90px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255),
    0 0 150px rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .blck {
    display: initial;
  }
  .blck h3 {
    color: rgb(158, 158, 158);
  }
}
