.futur {
  background: linear-gradient(
      90deg,
      rgba(134, 134, 134, 0.05) 0%,
      rgba(134, 134, 134, 0.05) 21%,
      rgba(95, 95, 95, 0.05) 21%,
      rgba(95, 95, 95, 0.05) 100%
    ),
    linear-gradient(
      45deg,
      rgba(16, 16, 16, 0.08) 0%,
      rgba(16, 16, 16, 0.08) 43%,
      rgba(254, 254, 254, 0.08) 43%,
      rgba(254, 254, 254, 0.08) 100%
    ),
    linear-gradient(
      135deg,
      rgba(35, 35, 35, 0.08) 0%,
      rgba(35, 35, 35, 0.08) 36%,
      rgba(198, 198, 198, 0.08) 36%,
      rgba(198, 198, 198, 0.08) 100%
    ),
    linear-gradient(
      135deg,
      rgba(75, 75, 75, 0.08) 0%,
      rgba(75, 75, 75, 0.08) 54%,
      rgba(123, 123, 123, 0.08) 54%,
      rgba(123, 123, 123, 0.08) 100%
    ),
    linear-gradient(
      45deg,
      rgba(39, 39, 39, 0.03) 0%,
      rgba(39, 39, 39, 0.03) 86%,
      rgba(229, 229, 229, 0.03) 86%,
      rgba(229, 229, 229, 0.03) 100%
    ),
    linear-gradient(
      135deg,
      rgba(74, 74, 74, 0.1) 0%,
      rgba(74, 74, 74, 0.1) 61%,
      rgba(70, 70, 70, 0.1) 61%,
      rgba(70, 70, 70, 0.1) 100%
    ),
    linear-gradient(90deg, rgb(148, 148, 148), rgb(245, 245, 245));
  height: 92.2vh;
}

.futur h3 {
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

.navbar {
  opacity: 0.5;
  margin: 0 !important;
}

.container {
  margin: auto;
  width: 330px;
  padding: 10px;
  text-align: center;
}
.entry {
  width: 265px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 2px;
  background-color: #d1d1d1;
  border: none;
  font-size: 35px;
  color: #ffffff;
  text-shadow: 2px 2px 5px white;
}
.calc-container {
  width: 300px;
  background-color: #d1d1d1;
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  box-shadow: 6px 6px 5px rgb(158, 158, 158);
}
.numBut {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  /*border-radius: 50%;*/
}
.mathBut {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  /*border-radius: 50%;*/
}
.equalBut {
  height: 59px;
  width: 126px;
  margin: 10px 4px;
  font-weight: bold;
  font-size: 25px;
  /*border-radius: 45%;*/
}
.mBut {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  /*border-radius: 50%;*/
}
.aBut {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  /*border-radius: 50%;*/
}
.neon {
  color: rgb(253, 253, 253);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
    0 0 40px rgb(255, 255, 255), 0 0 80px rgb(255, 255, 255),
    0 0 90px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255),
    0 0 150px rgb(255, 255, 255);
}
.numBut:hover,
.aBut:hover,
.mBut:hover,
.equalBut:hover,
.mathBut:hover {
  color: rgb(255, 255, 255);
  text-shadow: none;
  cursor: pointer;
}

.btn {
  background-color: #d1d1d1;
}
