.futur {
  background: linear-gradient(0deg, #fff 0%, transparent 100%),
    linear-gradient(0deg, #fff 0%, transparent 100%),
    linear-gradient(
      135deg,
      rgba(96, 96, 96, 0.21) 0%,
      rgba(96, 96, 96, 0.21) 50%,
      rgba(45, 45, 45, 0.21) 50%,
      rgba(45, 45, 45, 0.21) 100%
    ),
    linear-gradient(
      0deg,
      rgba(220, 220, 220, 0.2) 0%,
      rgba(220, 220, 220, 0.2) 31%,
      rgba(200, 200, 200, 0.2) 31%,
      rgba(200, 200, 200, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      rgba(124, 124, 124, 0.26) 0%,
      rgba(124, 124, 124, 0.26) 15%,
      rgba(218, 218, 218, 0.26) 15%,
      rgba(218, 218, 218, 0.26) 100%
    ),
    linear-gradient(
      45deg,
      rgba(157, 157, 157, 0.14) 0%,
      rgba(157, 157, 157, 0.14) 46%,
      rgba(26, 26, 26, 0.14) 46%,
      rgba(26, 26, 26, 0.14) 100%
    ),
    linear-gradient(
      45deg,
      rgba(180, 180, 180, 0.1) 0%,
      rgba(180, 180, 180, 0.1) 45%,
      rgba(62, 62, 62, 0.1) 45%,
      rgba(62, 62, 62, 0.1) 100%
    ),
    linear-gradient(
      135deg,
      rgba(33, 33, 33, 0.22) 0%,
      rgba(33, 33, 33, 0.22) 59%,
      rgba(164, 164, 164, 0.22) 59%,
      rgba(164, 164, 164, 0.22) 100%
    ),
    linear-gradient(
      135deg,
      rgba(24, 24, 24, 0.11) 0%,
      rgba(24, 24, 24, 0.11) 71%,
      rgba(245, 245, 245, 0.11) 71%,
      rgba(245, 245, 245, 0.11) 100%
    ),
    linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.15) 0%,
      rgba(5, 5, 5, 0.15) 91%,
      rgba(50, 50, 50, 0.15) 91%,
      rgba(50, 50, 50, 0.15) 100%
    ),
    linear-gradient(90deg, rgb(198, 198, 198), rgb(158, 158, 158));
  height: 92.2vh;
}

.disabled {
  pointer-events: none;
  opacity: 1 !important;
}

.futur h3 {
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

.navbar {
  opacity: 0.8;
  margin: 0 !important;
}

.container {
  margin: auto;
  width: 330px;
  padding: 10px;
  text-align: center;
}
.entry {
  width: 265px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 2px;
  background-color: #b3b3b3;
  border: none;
  font-size: 35px;
  color: #ebebeb;
  /* text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.473); */
}
.calc-container {
  width: 300px;
  background-color: #b3b3b3;
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  box-shadow: 6px 6px 5px #b3b3b34d;
}
.numBut {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  color: #ffffff;
  /*border-radius: 50%;*/
}
.mathBut {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 35px;
  color: #ffffff;
  /*border-radius: 50%;*/
}
.equalBut {
  height: 59px;
  width: 126px;
  margin: 10px 4px;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  /*border-radius: 45%;*/
}
.mBut {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  color: #ffffff;
  /*border-radius: 50%;*/
}
.aBut {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  font-size: 25px;
  color: #ffffff;
  /*border-radius: 50%;*/
}
.neon {
  color: rgb(253, 253, 253);
  text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 10px rgb(255, 255, 255);
}
.numBut:hover,
.aBut:hover,
.mBut:hover,
.equalBut:hover,
.mathBut:hover {
  color: rgb(255, 255, 255);
  text-shadow: none;
  cursor: pointer;
}

.btn {
  background-color: #d1d1d1;
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-fade {
  opacity: 0;
}

/* On/Off button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(230, 230, 230);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(212, 212, 212);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid rgb(230, 230, 230);
}

input:checked + .slider {
  background-color: rgb(212, 212, 212);
}

input:focus + .slider {
  box-shadow: 0 0 1px #00000057;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
